
<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>Internet Access</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Internet Users  <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_users stat_type='number' %}
            </div>
            {% if geography.parents %}
                <div class="column-third" id="chart-pie-access-view_ft_users" data-stat-type="scaled-percentage" data-chart-title='Internet users vs Internet users in parent level'></div>
            {% else %}
                <div class="column-third" id="chart-pie-access-view_ft_users" data-stat-type="scaled-percentage" data-chart-title='Internet users per continent'></div>
            {% endif %}
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#IPv4">Population<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=access.view_ft_users_population_users stat_type='number' %}
            </div>
            <div class="column-third" id="chart-pie-access-view_ft_users_population" data-stat-type="scaled-percentage" data-chart-title='Internet users vs population'></div>
        </section>
       
    </div>
</article>
