<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>ASN type</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">ASN types<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
               <!--  {% include 'profile/_blocks/_stat_list.html' with stat=v6marketshare.isp_count stat_type='number' %} -->
            </div>
            <div class="column-third" id="chart-pie-asntypes-view_ft_asn_type" data-stat-type="scaled-percentage" data-chart-title='Market share'></div>
        </section>

    </div>
</article>