
<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>Ipv4</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Internet users <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ipv4.ipv4_users stat_type='number' %}
            </div>
            <div class="column-third" id="chart-pie-ipv4-citizenship_by_sex" data-stat-type="scaled-percentage" data-chart-title="% of country are internet users"></div>
        </section>

    </div>
</article>