
<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>IPv6</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">APNIC data <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ipv6.ipv6_users stat_type='number' %}
            </div>
           <!--  <div class="column-three-quarters"
                 id="chart-pie-demographics-sex_ratio"
                 data-stat-type="percentage"
                 data-chart-title="Sex"></div> -->
        </section>

    </div>
</article>