
<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>IPv6</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <section class="clearfix stat-row">
            <h2><a class="permalink" href="#IPv6">APNIC data<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ipv6.view_ft_v4_v6_users stat_type='number' %}
            </div>
            <div class="column-third" id="chart-pie-ipv6-view_ft_v4_v6" data-stat-type="scaled-percentage" data-chart-title='Show the % of IPv6 users to users (IPv4)'></div>
            <div class="column-third" id="chart-pie-ipv6-view_ft_v6users" data-stat-type="scaled-percentage" data-chart-title='IPv6 users vs IPv6 users in parent level'></div>
        </section>
       <!--  <section class="clearfix stat-row">
            <h2><a class="permalink" href="#IPv6">IPv6 distribution<i class="fa fa-link"></i></a></h2>
            <div class="column-half">
            <a class="stat number">
                
                <span class="primary">
                    <span class="name">Show by geographic level total IPv6 users vs allocations. Allocation data is obtained from NRO stats.</span>
                    <span class="name">Allocation measured in the number of /48.</span>
                </span>
            </a>
            </div>
            <div class="column-half" id="chart-bar-ipv6-view_ft_v6_alloc_vs_usage" data-stat-type="scaled-percentage" data-chart-title='Show by geographic level total IPv6 users vs allocations. Allocation data is obtained from NRO stats.'></div>
        </section> -->

    </div>
</article>