<article id="example" class="clearfix">
    <header class="section-contents">
        <h1>Market share</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Internet service providers  <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=marketshare.isp_count stat_type='number' %}
            </div>
            <div class="column-full" id="chart-bar-marketshare-view_ft_marketshare_users" data-stat-type="scaled-percentage" data-chart-title='Market share'></div>
        </section>

    </div>
</article>