{% load staticfiles %}

<div class="column-quarter">
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-info"></i> <a href="/about">About {{ WAZIMAP.name }}</a>
        </li>
       <!--  {% if WAZIMAP.twitter %}
        <li>
            <i class="fa fa-twitter"></i> <a href="http://twitter.com/{{ WAZIMAP.twitter }}" target="_blank">{{ WAZIMAP.twitter }}</a>
        </li>
        {% endif %} -->
    </ul>
</div>
<div class="column-quarter">
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/AFRINIC-Labs/WIDER" target="_blank">WIDER on Github</a>
        </li>
        <li>
            <i class="fa fa-github"></i> Built on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>
        </li>
    </ul>
</div>
<div class="column-full">
    <ul class="ul-icon-list">
        {% block footer_branding %}
        <li>
            <a href="https://www.afrinic.net" target="_blank">
                <img src="{% static 'img/afrinic_logo.png' %}" width="200px" style="margin-right: 20px;margin-bottom: 10px;">
            </a>
            <a href="https://vanilla.co.za" target="_blank">
                <img src="{% static 'img/vanilla_logo.png' %}" width="200px" style="margin-right: 20px;margin-bottom: 10px;">
            </a>
            <a href="http://www.isoc.org.za" target="_blank" >
                <img src="{% static 'img/internet-soc-logo.png' %}" width="200px" style="margin-right: 20px;margin-bottom: 10px;">
            </a>
        </li>
        
       
        
        {% endblock %}
    </ul>
</div>
